* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

#posts {
  /* position: relative; */
  display: block;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1em;
}
.header {
  margin: .5em 0;
}
.header h1 {
  margin-top: .5em;
  font-size: 2em;
  display: inline;
}

.header img {
  height: 8em;
  margin-right: 1em;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header nav a {
  padding-right: 1em;
}

.headText {
  display: inline-block;
  margin: auto 0;
}

.postList li a {
  color: #ffffff;
}

.post article {
  padding-top: 1em;
}
  

@media only screen and (max-width: 500px) {
  .header img {
    height: 6em;
    display:block;
    margin: 0 auto;
  }
  
  .headText {
    margin: 0 auto;
    text-align: center;
  }
}



