* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #222222;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  border-top: 3px solid #b59575;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

section#posts {
  position: relative;
  display: block;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1em;
}

.header h1 {
  position: relative;
  margin-top: .5em;
  font-size: 2em;
  display: inline;
}

.header img {
  height: 8em;
  float: left;
  padding: .5em;
}

#head {
  position: relative;
  margin-left: 8em;
  padding-bottom: 1em; 
}





