* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

#posts {
  /* position: relative; */
  display: block;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1em;
}

.header {
  margin: .5em 0;
  font-size: 1.125em;
}

.header h1 {
  margin-top: .5em;
  font-size: 2em;
  display: inline;
}

.header img {
  height: 8em;
  margin-right: 1em;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header nav a {
  padding-right: 1em;
}

.headText {
  display: inline-block;
  margin: auto 0;
}

.postList {
  list-style-type: none;
}

.postList li a {
  color: #ffffff;
}

.postList h3 {
  display: inline;
}

.post article {
  padding-top: 1em;
}

.post a {
  color: #ffffff;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.content h2 {
  margin-bottom: 0;
}

.postDate {
  font-size: .75em;
  color: #c0c0c0;
}

.content img {
  margin: auto;
  display: block;
}

.content p a {
  color: #c0c0c0;
}

footer {
  margin-top: 15em;
  color: #c0c0c0;
  text-align: center;
}

@media only screen and (max-width: 590px) {
  .header img {
    height: 6em;
    display:block;
    margin: 0 auto;
  }
  
  .headText {
    text-align: center;
    width: 100%
  }
}



