<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default_style.css">
  </head>
  <body>
    <header>
      <img src="/img/HeadshotCircle.png" class="header">
      <h1 class="header">Arthur Dickerson</h1>
      <nav class="header">
        <a href="/">About Me</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
                                                
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
