<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default_style.css">
  </head>
  <body>
    <div id="posts">
      <div class="header">
        <a href="/"><img src="/img/HeadshotCircle.png" alt="Arthur Dickerson Photo" id="headshot"></a>
        <div class="headText">
          <h1 id="tophead"><a href="/">Arthur Dickerson</a></h1>
          <p id="description">
            Christian, Husband, IT Guy, and soon to be Dad.
          </p>
        
          <nav>
            <a href="/about">About</a>
            <a href="/archive">Archive</a>
            <a href="https://twitter.com/arthurddickerso">Twitter</a>
            <a href="mailto:arthur@arthurdickerson.me">Email</a>
          </nav>
        </div>
      </div>
      <section class="content">
        {% unless page.title == "Arthur Dickerson" %}
          {% if page.id %}
            {% if page.altURL == null %}
              <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            {% else %}
              <h2><a href="{{ page.altURL }}">{{ page.title }}</a></h2>
            {% endif %}
          {% else %}
            <h2>{{ page.title }}</h2>
          {% endif %}
        {% endunless %}
        {% if page.id %}
          <div class="postDate">
            {{ page.date | date: "%B %-d, %Y" }}
          </div>
        {% endif %}
        {{ content }}
      </section>
      <footer>
        Copyright &copy; {{ site.time | date: '%Y' }} Arthur Dickerson
      </footer>
    </div>
    
    
  </body>
</html>
