<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default_style.css">
  </head>
  <body>
    <div id="posts">
      <div class="header">
        <a href="/"><img src="/img/HeadshotCircle.png" id="headshot"></a>
        <div class="headText">
          <h1 id="tophead"><a href="/">Arthur Dickerson</a></h1>
          <p id="description">
            Christian, Husband, IT Guy, and soon to be Dad.
          </p>
        
          <nav>
            <a href="/about">About</a>
            <a href="/archive">Archive</a>
            <a href="https://twitter.com/arthurddickerso">Twitter</a>
          </nav>
        </div>
      </div>
      <section class="content">
        {% unless page.title == "Arthur Dickerson" %}
        <h2>{{ page.title }}</h2>
        {% endunless %}
        {{ content }}
      </section>
      <footer>
        Copyright &copy; {{ site.time | date: '%Y' }} Arthur Dickerson
      </footer>
    </div>
    
    
  </body>
</html>
